html{
  padding: 0;
  margin: 0;
  overflow-y: visible;
}
body{
  background: no-repeat center center fixed;
  background-color: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ren{
  position: absolute;
}
.jecrc{
  position: absolute;
  left: 42%;
}
.all{
  position: absolute;
  top: 170px;
}
