body {
  display: grid;
  grid-template-areas:
    "header header"
    "section aside"
    "footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr 35%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainSection {
  grid-area: section;
}
#pageAside {
  grid-area: aside;
}
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "section"
      "aside"
      "footer";
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-template-columns: 1fr;
 }
}
header, footer, section, nav, aside {
  padding: 20px;
  background: gold;
}
